<form id="form" hx-post="/todo/create" hx-swap="outerHTML" hx-select-oob="#todos:beforeend" style="display: flex; flex-direction: column; width: 30%;">
    <label for="name">Name</label>
    <input type="text" name="name" value="{{ form.name }}" />
    {% if errors.name %}
        <div>
            {{ errors.name }}
        </div>
    {% endif %}
    <label for="description">Description</label>
    <input type="text" name="description" value="{{ form.description }}" />
    <div>
        <button>Submit</button>
    </div>
</form>