<div style="display: flex; flex-direction: column; border-top: solid black 2px; margin: 1rem 0rem;">
    <span>Id: {{ todo.id }}</span>
    <span>Name: {{ todo.name }}</span>
    <span>Description: {{ todo.description }}</span>
    <span>Complete: {{ todo.complete }}</span>
    <span>
        <button hx-delete="/todo/{{ todo.id }}" hx-target="closest div" hx-swap="outerHTML">Delete</button>
    </span>
</div>